# For Loop Gauntlet

The goal of this assignment is to make you a master of utilizing for loops.
Complete all the for loop challenges on the paper. please read each challenge
carefully and make sure that your for loops display exactly what is asked. If
you finish them all, try the bonus challenge.

## Single for-loops

Write a for loop to do each the following

Display all numbers from 0 to 100

In [6]:
# Display all numbers from 0 to 100 
for i in range(0, 101):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

Display all numbers from 100 to 0

In [19]:
# Display all numbers from 100 to 0 
for i in range(101):
    print(100 - i)

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
0

Display all even numbers from 2 to 100

In [42]:
# Display all even numbers from 2 to 100  
list(range(2, 100, 2))

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98]

Display all odd numbers from 1 to 99

In [44]:
# Display all odd numbers from 1 to 99  
print(list(range(1, 100, 2)))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

Display all numbers from 1 to 40. if the number is odd, print "odd" next to the number. if the number is even, print "even" next to the number.  
eg:  
 1 is odd  
 2 is even  
 3 is odd  
 4 is even  
 5 is odd...etc.

In [92]:
# Display all numbers from 1 to 500.


# Displaying all numbers from 1 to 40 with odds and evens.
for i in range(1, 41):
    if i / 2 in list(range(1,4500)):
        print(i, "is even")
    else:
        print(i, "is odd")

1 is odd
2 is even
3 is odd
4 is even
5 is odd
6 is even
7 is odd
8 is even
9 is odd
10 is even
11 is odd
12 is even
13 is odd
14 is even
15 is odd
16 is even
17 is odd
18 is even
19 is odd
20 is even
21 is odd
22 is even
23 is odd
24 is even
25 is odd
26 is even
27 is odd
28 is even
29 is odd
30 is even
31 is odd
32 is even
33 is odd
34 is even
35 is odd
36 is even
37 is odd
38 is even
39 is odd
40 is even

Display all multiples of 7 from 0 to 70

In [98]:
# Display all multiples of 7 from 7 to 70
a = list(range(7, 71, 7))
print(a)

[7, 14, 21, 28, 35, 42, 49, 56, 63, 70]

Print all the years you were alive and how old you were in each. e.g. "in 1979, i was 2 years old." (for a really old person)

In [20]:
# Your Code Here
birth_year = 1972
current_year = 2024

for i in range(birth_year, current_year):
    print("in " + str(i) + " i was " + str(i - 1972) + " years old")

in 1972 i was 0 years old
in 1973 i was 1 years old
in 1974 i was 2 years old
in 1975 i was 3 years old
in 1976 i was 4 years old
in 1977 i was 5 years old
in 1978 i was 6 years old
in 1979 i was 7 years old
in 1980 i was 8 years old
in 1981 i was 9 years old
in 1982 i was 10 years old
in 1983 i was 11 years old
in 1984 i was 12 years old
in 1985 i was 13 years old
in 1986 i was 14 years old
in 1987 i was 15 years old
in 1988 i was 16 years old
in 1989 i was 17 years old
in 1990 i was 18 years old
in 1991 i was 19 years old
in 1992 i was 20 years old
in 1993 i was 21 years old
in 1994 i was 22 years old
in 1995 i was 23 years old
in 1996 i was 24 years old
in 1997 i was 25 years old
in 1998 i was 26 years old
in 1999 i was 27 years old
in 2000 i was 28 years old
in 2001 i was 29 years old
in 2002 i was 30 years old
in 2003 i was 31 years old
in 2004 i was 32 years old
in 2005 i was 33 years old
in 2006 i was 34 years old
in 2007 i was 35 years old
in 2008 i was 36 years old
in 2009 i was 37 years old
in 2010 i was 38 years old
in 2011 i was 39 years old
in 2012 i was 40 years old
in 2013 i was 41 years old
in 2014 i was 42 years old
in 2015 i was 43 years old
in 2016 i was 44 years old
in 2017 i was 45 years old
in 2018 i was 46 years old
in 2019 i was 47 years old
in 2020 i was 48 years old
in 2021 i was 49 years old
in 2022 i was 50 years old
in 2023 i was 51 years old

## Nested for-loops

Write nested for loops (a for loop inside another for loop). Here is an example of nested loops.

In [21]:
# Examples of Nested Loops

for i in range(8):
    for j in range(8):
        print(f"({i},{j})", end= ' ')
    print()

(0,0) no(0,1) no(0,2) no(0,3) no(0,4) no(0,5) no(0,6) no(0,7) no
(1,0) no(1,1) no(1,2) no(1,3) no(1,4) no(1,5) no(1,6) no(1,7) no
(2,0) no(2,1) no(2,2) no(2,3) no(2,4) no(2,5) no(2,6) no(2,7) no
(3,0) no(3,1) no(3,2) no(3,3) no(3,4) no(3,5) no(3,6) no(3,7) no
(4,0) no(4,1) no(4,2) no(4,3) no(4,4) no(4,5) no(4,6) no(4,7) no
(5,0) no(5,1) no(5,2) no(5,3) no(5,4) no(5,5) no(5,6) no(5,7) no
(6,0) no(6,1) no(6,2) no(6,3) no(6,4) no(6,5) no(6,6) no(6,7) no
(7,0) no(7,1) no(7,2) no(7,3) no(7,4) no(7,5) no(7,6) no(7,7) no

For your first nested loop, display this output:  

```
0  0  
0  1  
0  2  
1  0  
1  1  
1  2  
2  0  
2  1  
2  2
```

In [28]:
# Display the output shown above
for i in range(3):
    for j in range(3):
        print(f"{i},{ j}", end=' ')

0,0 0,1 0,2 1,0 1,1 1,2 2,0 2,1 2,2

Display the numbers 1 through 9 in a 3x3 square grid like this:  

```
1  2  3  
4  5  6  
7  8  9  
```

In [61]:
# Display the numbers 1 through 9 in a 3x3 square grid
numbers = [[(i*3 + j) for j in range(3)] for i in range(3)]

for i in numbers:
    for j in i:
        print(j, end=" ")
    print(
        
    )

0 1 2
3 4 5
6 7 8

Display the numbers 1 through 100 in a 10x10 square grid.

In [60]:
# Display the numbers 1 through 100 in a 10x10 square grid. 
numbers = [[(i*10 + j) for j in range(10)] for i in range(10)]

for i in numbers:
    for j in i:
        print(j, end=" ")
    print(

    )

0 1 2 3 4 5 6 7 8 9
10 11 12 13 14 15 16 17 18 19
20 21 22 23 24 25 26 27 28 29
30 31 32 33 34 35 36 37 38 39
40 41 42 43 44 45 46 47 48 49
50 51 52 53 54 55 56 57 58 59
60 61 62 63 64 65 66 67 68 69
70 71 72 73 74 75 76 77 78 79
80 81 82 83 84 85 86 87 88 89
90 91 92 93 94 95 96 97 98 99

Display the following output:  

```
*  
*  *  
*  *  *  
*  *  *  *  
*  *  *  *  *  
*  *  *  *  *  *
```

In [76]:
# Display the asterisk pattern shown above
number_of_stars = 1

for i in range(6):
    
    for j in range(number_of_stars):
       print("*", end=" " )
       
    number_of_stars = number_of_stars + 1
    print( 

    )
    
    
    
    #for number_of_stars in range(6):
        #print(i)

*
* *
* * *
* * * *
* * * * *
* * * * * *